.text-center{
    text-align center
}

.text-left{
    text-align left
}

.text-rifht{
    text-align right
}

.h1{
    font-size 50px;
}

.spanSize{
    font-size 20px;
    margin:25px
}
.tables div{
    margin-left:50px;
    margin-top:20px;
}

.mtables{
    width:70%
    margin-left:50px;
    margin-top:20px;
}